[v-cloak] {
    display: none;
}

html,
body,
#app {
    margin: 0;
    height: 100%;
}

/* 顶部样式 */
.top-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .2rem;
    background: #1D689F;
    color: #ffffff;
    height: 10%;
}

.top-head-logo {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    text-align: left;
    text-indent: .2rem;
}

.top-head-title {
    font-size: .45rem;
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

.top-head-datearea {
    font-size: .16rem;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    text-align: right;
    margin-right: .2rem;
}
.top-head-datearea>div:first-child{
    margin: .05rem 0;
}

.display-table{
    display: table;
}
.h-100p{
    height: 100%;
}

/*---------- 正在呼叫 -----------*/
.calling-info{
    width: 100%;
    height: 10%;
    color: #ffffff;
    background: #f4a562;
    font-size: .3rem;
}
.calling-info-item{
    float: left;
    height: 100%;
}
.calling-info-item-title{
    display: table-cell;
    vertical-align: middle;
    padding: 0 .3rem;    
}
.calling-info-item-title-bg{
    background-color: #df7112;
}

.calling-info-item-text{
    display: table-cell;
    color: #000000;
    vertical-align: middle;
    padding:0 .25rem;
    font-size: .25rem;
}



/* 中部内容 */
.main-info {
    padding: .1rem;
    box-sizing: border-box;
    height: 80%;
    overflow: hidden;
}

.wait-title-bg{
    position: relative;
    float: left;
    width: 6%;
    height: 100%;
    background: rgb(36, 128, 211);
    background: linear-gradient(90deg, rgb(36, 128, 211) 30%, rgb(41, 143, 235) 70%);
}
.wait-container{
    float: left;
    box-sizing: border-box;
    width: 94%;
    height: 100%;
    background-color: #e0f0fd;
    padding: .1rem 0;

}
.wait-container-item{
    display: inline-block;
    color: #2f6891;
    font-size: .3rem;
    padding: .1rem .3rem;
}

.wait-title-text,.pass-title-text{
    color: #ffffff;
    font-size: 0.3rem;
    width: 0.3rem;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.pass-title-bg{
    position: relative;
    float: left;
    width: 6%;
    height: 100%;
    background: rgb(20, 161, 173);
    background: linear-gradient(90deg, rgb(20, 161, 173) 30%, rgb(25, 186, 199) 70%);
}
.pass-container{
    box-sizing: border-box;
    float: left;
    width: 94%;
    height: 100%;
    background-color: #d6eff4;
    padding: .1rem 0;
}
.pass-container-item{
    display: inline-block;
    color: #2f6891;
    font-size: .3rem;
    padding: .1rem .3rem;
}


