<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 设置苹果工具栏颜色 -->
    <meta name="format-detection" content="telphone=no, email=no" />
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <title>PAD叫号</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
    <link rel="stylesheet" href="./css/padCall.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="top-head">
            <div class="top-head-logo" @click="logout">
                <img src="./images/pad-logo.png" class="top-head-logo-img" alt="logo">
            </div>
            <div class="top-head-title">PAD叫号</div>
            <div class="top-head-datearea">
                <div>{{formatDate}}</div>
                <div>{{formatTime}}</div>
            </div>
        </div>
        <div class="main-info">
            <div class="info-head">
                <div class="info-head-wait">候检患者</div>
                <div style="width: .02rem;"></div>
                <div class="info-head-wait">过号患者</div>
                <div style="width: .02rem;"></div>
                <div class="info-head-wait">已检未录</div>
            </div>
            <div class="info-item-con">
                <patient-column :data="waitQueueList" bgcolor="#E0F0FD" color="#547690">
                    <template v-slot:right="slotProps">
                        <div class="patient-column-surface" @click="withoutChecking(slotProps.item)"></div>
                    </template>
                    <!--<template v-slot:right="slotProps">-->
                        <!--<van-button icon="arrow" size="small" class="pass-to-callin-btn" round @click="withoutChecking(slotProps.item)"></van-button>-->
                    <!--</template>-->
                </patient-column>
                <div style="width: .02rem;"></div>
                <patient-column :data="passQueueList" bgcolor="#E0F0FD" color="#547690">
                    <template v-slot:right="slotProps">
                        <div class="patient-column-surface" @click="passToCallin(slotProps.item)"></div>
                    </template>
                    <!--<template v-slot:right="slotProps">-->
                        <!--<van-button icon="arrow" size="small" class="pass-to-callin-btn" round @click="passToCallin(slotProps.item)"></van-button>-->
                    <!--</template>-->
                </patient-column>
                <div style="width: .02rem;"></div>
                <patient-column :data="inQueueList" bgcolor="#E0F0FD" color="#547690">
                    <template v-slot:right="slotProps">
                        <div class="patient-column-surface" @click="showPopup(slotProps.item)"></div>
                    </template>
                    <!--<template v-slot:right="slotProps">-->
                        <!--<van-button icon="edit" size="small" class="pass-to-callin-btn" round @click="showPopup(slotProps.item)"></van-button>-->
                    <!--</template>-->
                </patient-column>
            </div>
        </div>
        <div class="bottom-info">
            <van-row gutter="10">
                <van-col span="6">
                    <van-button type="info" class="w-100p" size="large" @click="refresh" :disabled="refreshBtn.disabled" :loading="refreshBtn.loading" loading-text="正在刷新，请稍等">刷 新</van-button>
                </van-col>
                <van-col span="6">
                    <van-button type="info" class="w-100p" plain size="large" @click="openResultModel" :disabled="resultModelBtn.disabled" :loading="resultModelBtn.loading" loading-text="正在查询，请稍等">检查结果</van-button>
                </van-col>
                <van-col span="12">
                    <van-button type="primary" class="w-100p" size="large" @click="callNext" :disabled="nextBtn.disabled" :loading="nextBtn.loading" loading-text="正在呼叫，请稍等">下一位</van-button>
                </van-col>
            </van-row>
        </div>
        <van-popup v-model="updateResultModel" position="right" :style="{ height: '100%',width:'35%' }">
            <div style="width: 100%;height: 100%;padding: 5px;box-sizing: border-box;">
                <patient-column :data="resultList" bgcolor="#F2F6FC" style="width: 100%;">
                    <template v-slot:right="slotProps">
                        <div class="patient-column-surface" @click="showPopup(slotProps.item)"></div>
                    </template>
                    <!--<template v-slot:right="slotProps">-->
                        <!--<van-button icon="edit" size="small" class="pass-to-callin-btn" round @click="showPopup(slotProps.item)"></van-button>-->
                    <!--</template>-->
                </patient-column>
            </div>

        </van-popup>
        <van-popup ref="resultRef" v-model="showResult" position="bottom" @open="handleOpenResult" @close="handleCloseResult">
            <van-row>
                <van-col span="8">
                    <van-panel title="右眼结果">
                        <van-cell-group>
                            <van-field clearable label="远视力" right-icon="arrow-down" readonly @click="showFarSight('Od')" input-align="center" v-model="form.dchVisionExam.scdOdLabel"></van-field>
                            <van-field clearable label="矫正视力" right-icon="arrow-down" readonly @click="handleShowPicker('ccdOd')" input-align="center" v-model="form.dchVisionExam.ccdOdLabel"></van-field>
                            <van-field clearable label="近视力" right-icon="arrow-down" readonly @click="showNearSight('scnOd')" input-align="center" v-model="form.dchVisionExam.scnOdLabel"></van-field>

                            <van-cell title="眼压" value-class="correct-press-width">
                                <template slot>
                                    <eyepress-item :iop_type="iop_type" :finger_tonometry="finger_tonometry" left-right-eye="Od" v-model="form.odpress"></eyepress-item>
                                </template>
                            </van-cell>
                        </van-cell-group>
                        <van-collapse v-model="activeNames" >
                            <van-collapse-item title="其它视力检查" title-class="my-collapse-extends" :is-link="false" name="1" class="override-van-collapse-item__content">
                                <van-cell-group>
                                    <van-field clearable label="小孔视力" right-icon="arrow-down" readonly @click="handleShowPicker('phdOd')" input-align="center" v-model="form.dchVisionExam.phdOdLabel"></van-field>
                                    <van-field clearable label="矫正近视力" right-icon="arrow-down" readonly @click="showNearSight('ccnOd')" input-align="center" v-model="form.dchVisionExam.ccnOdLabel"></van-field>
                                </van-cell-group>
                            </van-collapse-item>
                            <van-collapse-item title="视功能检查" title-class="my-collapse-extends" :is-link="false" name="2" class="override-van-collapse-item__content">
                                <van-cell-group>
                                    <van-field clearable label="光感" right-icon="arrow-down" readonly @click="showLight('lightPerceptionOd')" input-align="center" v-model="form.dchVisionFunc.lightPerceptionOdLabel"></van-field>
                                    <van-cell title="光定位" value-class="correct-lightposition-width">
                                        <template slot>
                                            <light-item v-model="form.dchVisionFunc.lightProjectionOd"></light-item>
                                        </template>
                                    </van-cell>
                                    <van-cell title="色觉" value-class="correct-colourvision-width">
                                        <template slot>
                                            <colour-group-item v-model="form.dchVisionFunc" left-right-eye="Od">
                                                <template v-slot:red>
                                                    <colour-item v-model="form.dchVisionFunc.colourVisionRedOd"></colour-item>
                                                </template>
                                                <template v-slot:green>
                                                    <colour-item text="绿" v-model="form.dchVisionFunc.colourVisionGreenOd"></colour-item>
                                                </template>
                                            </colour-group-item>
                                        </template>
                                    </van-cell>
                                </van-cell-group>
                            </van-collapse-item>
                        </van-collapse>
                    </van-panel>
                </van-col>
                <van-col span="8">
                    <van-panel title="左眼结果">
                        <van-cell-group>
                            <van-field clearable label="远视力" right-icon="arrow-down" readonly @click="showFarSight('Os')" input-align="center" v-model="form.dchVisionExam.scdOsLabel"></van-field>
                            <van-field clearable label="矫正视力" right-icon="arrow-down" readonly @click="handleShowPicker('ccdOs')" input-align="center" v-model="form.dchVisionExam.ccdOsLabel"></van-field>
                            <van-field clearable label="近视力" right-icon="arrow-down" readonly @click="showNearSight('scnOs')" input-align="center" v-model="form.dchVisionExam.scnOsLabel"></van-field>
                            <van-cell title="眼压" value-class="correct-press-width">
                                <template slot>
                                    <eyepress-item :iop_type="iop_type" :finger_tonometry="finger_tonometry" left-right-eye="Os" v-model="form.ospress"></eyepress-item>
                                </template>
                            </van-cell>
                        </van-cell-group>

                        <van-collapse v-model="activeNames" >
                            <van-collapse-item title="" name="1" class="override-van-collapse-item__content">
                                <van-cell-group>
                                    <van-field clearable label="小孔视力" right-icon="arrow-down" readonly @click="handleShowPicker('phdOs')" input-align="center" v-model="form.dchVisionExam.phdOsLabel"></van-field>
                                    <van-field clearable label="矫正近视力" right-icon="arrow-down" readonly @click="showNearSight('ccnOs')" input-align="center" v-model="form.dchVisionExam.ccnOsLabel"></van-field>
                                </van-cell-group>
                            </van-collapse-item>
                            <van-collapse-item title="" name="2" class="override-van-collapse-item__content">
                                <van-cell-group>
                                    <van-field clearable label="光感" right-icon="arrow-down" readonly @click="showLight('lightPerceptionOs')" input-align="center" v-model="form.dchVisionFunc.lightPerceptionOsLabel"></van-field>
                                    <van-cell title="光定位" value-class="correct-lightposition-width">
                                        <template slot>
                                            <light-item v-model="form.dchVisionFunc.lightProjectionOs"></light-item>
                                        </template>
                                    </van-cell>
                                    <van-cell title="色觉" value-class="correct-colourvision-width">
                                        <template slot>
                                            <colour-group-item v-model="form.dchVisionFunc" left-right-eye="Os">
                                                <template v-slot:red>
                                                    <colour-item v-model="form.dchVisionFunc.colourVisionRedOs"></colour-item>
                                                </template>
                                                <template v-slot:green>
                                                    <colour-item text="绿" v-model="form.dchVisionFunc.colourVisionGreenOs"></colour-item>
                                                </template>
                                            </colour-group-item>
                                        </template>
                                    </van-cell>
                                </van-cell-group>
                            </van-collapse-item>
                        </van-collapse>
                    </van-panel>
                </van-col>
                <van-col span="8">
                    <van-panel title="费用">
                        <van-checkbox-group v-model="form.payItemIds">
                            <van-cell-group>
                                <van-cell clickable value-class="override-van-checkbox__label" key="all" @click="toggleAll">
                                    <van-checkbox ref="checkboxAll" icon-size="24px" name="all">
                                        <van-row>
                                            <van-col span="12" style="text-align: center;" class="fix-width">项目名称</van-col>
                                            <van-col span="12" style="text-align: center;" class="fix-width">单价</van-col>
                                        </van-row>
                                    </van-checkbox>
                                </van-cell>
                                <van-cell v-for="(item,index) in costList " clickable :key="item.payItemId" value-class="override-van-checkbox__label" @click="toggle(index)">
                                    <van-checkbox :name="item.payItemId" :key="item.payItemId" ref="checkboxes" icon-size="24px">
                                        <van-row>
                                            <van-col span="12" style="text-align: center;" class="fix-width">{{item.payItemName}}</van-col>
                                            <van-col span="12" style="text-align: center;" class="fix-width">{{item.price}}</van-col>
                                        </van-row>
                                    </van-checkbox>
                                </van-cell>
                            </van-cell-group>
                        </van-checkbox-group>
                        <!-- <div slot="footer" style="text-align: right;">
                            <van-button size="small" type="primary" @click="handleSave">保存</van-button>
                        </div> -->
                    </van-panel>
                </van-col>
            </van-row>
            <van-row gutter="10" style="margin:0!important;">
                <van-col span="12">
                    <van-button class="w-100p" size="normal" type="default" @click="showResult = false">取 消</van-button>
                </van-col>
                <van-col span="12">
                    <van-button class="w-100p" size="normal" type="primary" @click="handleSave">保 存</van-button>
                </van-col>
            </van-row>
        </van-popup>
        <!--<van-popup v-model="showPicker" position="right" :style="{ height: '100%',width:'20%' }" >-->
        <!-- 远视力 -->
        <van-popup v-model="showFarSightModel" position="bottom" >
            <van-picker ref="farSight" :columns="farSightColumns" value-key="valueDesc" show-toolbar @change="onFarSightChange" @confirm="onFarSightConfirm" @cancel="showFarSightModel = false"></van-picker>
        </van-popup>
        <!-- 近视力 -->
        <van-popup v-model="showNearSightPicker" position="bottom" >
            <van-picker ref="singleNearSight" :columns="nearSightcolumns" value-key="valueDesc" show-toolbar @cancel="showNearSightPicker = false" @confirm="onNearSightConfirm" visible-item-count="10"></van-picker>
        </van-popup>
        <!-- 光感 -->
        <van-popup v-model="showLightPicker" position="bottom" >
            <van-picker ref="lightPicker" :columns="lightColumns" value-key="valueDesc" show-toolbar @cancel="showLightPicker = false" @confirm="onLightConfirm" visible-item-count="10"></van-picker>
        </van-popup>

        <van-popup v-model="showPicker" position="bottom" >
            <van-picker ref="singleFarSight" :columns="columns" value-key="valueDesc" show-toolbar @cancel="showPicker = false" @confirm="onConfirm" visible-item-count="10"></van-picker>
        </van-popup>
        <van-popup v-model="showBtn" :close-on-click-overlay="false" style="width: 35%;padding: .02rem;overflow: visible;">
            <img src="./images/alert.png" style="position: absolute;height: 155%;left: -65px;bottom: 0;" alt="logo">
            <div class="operate-title">{{operateTitle}}</div>
                <div class="flex-center fs-04 white" style="width: 98%;margin: .04rem auto;">
                <div class="flex-item-center bg-green mr-06">
                    <van-button color="#298feb" style="font-size: 24px;" size="large" :disabled="callInBtn.disabled" :loading="callInBtn.loading" loading-text="正在操作，请稍等" @click="handleCallin">检查</van-button>
                </div>
                <div class="flex-item-center bg-blue mr-06">
                    <van-button color="#8a67da" style="font-size: 24px;" size="large" :disabled="reCallBtn.disabled" :loading="reCallBtn.loading" loading-text="正在操作，请稍等" @click="handleRecall">重叫</van-button>
                </div>
                <div class="flex-item-center bg-yellow">
                    <van-button color="#4ace79" style="font-size: 24px;" size="large" :disabled="passBtn.disabled" :loading="passBtn.loading" loading-text="正在操作，请稍等" @click="handlePass">过号</van-button>
                </div>
            </div>
        </van-popup>
    </div>
</body>
<script src="./lib/polyfill.min.js"></script>
<script src="./lib/lodash.min.js"></script>
<script src="./lib/mock-min.js"></script>
<script src="./lib/axios.min.js"></script>
<script src="./lib/moment.min.js"></script>
<script src="./lib/zh-cn.js"></script>
<script src="./lib/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
<script src="./js/padCall.js"></script>
<script type="text/javascript">
! function(e, t) {
    function n() { t.body ? t.body.style.fontSize = 12 * o + "px" : t.addEventListener("DOMContentLoaded", n) }

    function d() {
        var e = i.clientWidth / 10;
        i.style.fontSize = e + "px"
    }
    var i = t.documentElement,
        o = e.devicePixelRatio || 1;
    if (n(), d(), e.addEventListener("resize", d), e.addEventListener("pageshow", function(e) { e.persisted && d() }), o >= 2) {
        var a = t.createElement("body"),
            s = t.createElement("div");
        s.style.border = ".5px solid transparent", a.appendChild(s), i.appendChild(a), 1 === s.offsetHeight && i.classList.add("hairlines"), i.removeChild(a)
    }
}(window, document);
</script>

</html>